<div>
    <div class="jumbotron container" style="background-color: white;">
      <h1 class="text-center"> News Scraper</h1>
      <div class="col-md-12 text-center">
          <button class="btn btn-info" id="launch">Launch</button>
      </div>
      <div id="main">
        <div class="col-md-4 text-center" id="notes">
            <textarea class="form-control" id="bodyinput"></textarea>
            <br>
            <button class="btn btn-success" id="saveNote">Save Note</button>
        </div>
        <div class="col-md-4 text-center">
            <div id="articles"></div>
            <br>
            <button class="btn btn-primary" id="previousArticle">Previous Article</button>
            <button class="btn btn-primary" id="nextArticle">Next Article</button>
        </div>
        <div class="col-md-4 text-center">
            <textarea class="form-control" id="deleteNoteBox"></textarea>
            <br>
            <button class="btn btn-danger" id="deleteNote">Delete Note</button>
        </div>
    </div>


    </div>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
    <script src="/assets/js/index.js"></script>
</div>
